<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
</head>

<body>
    <div class="container">
        <div>
            <h1>Sign Up</h1>
            <p>You need an account to get started</p>
        </div>
        <form action="">
            <div>
                <small>Username</small><br>
                <input type="text" placeholder="Enter your username" name="name" required>
            </div>
            <div>
                <small>Email Address</small><br>
                <input type="email" placeholder="Enter valid e-mail address" name="mail" required>
            </div>
            <div>
                <small>Password</small><br>
                <input type="password" placeholder="********" name="password" required>
            </div>
            <div>
                <small>Confirm Password</small><br>
                <input type="password" placeholder="********" name="password" required>
            </div>
            <button type="submit">CREATE ACCOUNT</button>
        </form>
    </div>
</body>

</html>